<div class="container">
  <h1>Login</h1>
  <form class="form-control" (ngSubmit)="onSubmit()">
    <label for="email">email</label>
    <input
      type="text"
      name="email"
      id="email"
      [(ngModel)]="email"
      class="form-control"
    />
    <label for="password">Password</label>
    <input
      type="text"
      name="password"
      id="password"
      [(ngModel)]="password"
      class="form-control"
    />
    <input type="submit" value="Submit" class="btn btn-primary" />
  </form>
</div>
